<p class="text-small mb-0">
  <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/">
    <img alt="Creative Commons License" style="border-width:0; vertical-align:middle"
         src="https://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
  Овај садржај је заштићен лиценцом
  <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported</a>.
  За програмски код који се односи на садржај овог курса се може сматрати да је заштићен
  <a href="{{ '/LICENSE' | relative_url }}">MIT лиценцом</a>.
</p>
<p class="text-small mb-0">Математички факултет, Универзитет у Београду</p>
